.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 var(--button-h-padding);
  height: var(--button-height);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: 0.375rem;
  font-size: var(--button-font-size);
  font-weight: 500;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  transition: background-color var(--speed-fast) var(--easing-primary-out), border-color
    var(--speed-fast) var(--easing-primary-out), color var(--speed-fast) var(--easing-primary-out);
}

.button:hover:not(:disabled) {
  background-color: var(--button-hover-background-color);
  border-color: var(--button-hover-border-color);
  color: var(--button-hover-text-color);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
